@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');


body { font-family:'Noto sans KR', Arial, Helvetica, sans-serif; background: lightgray;}
button {border:0; background: transparent; cursor:pointer;}

.ico_friends {display:block; background:url('../img/ico_friends.png')no-repeat 0 0 / 700px 800px; overflow: hidden; font-size: 1px; color:transparent;}
.ico_dot {display:inline-block; width:9px; height:9px; background: #fc4c4c; font-size:1px; color:transparent; border-radius: 50%; border:2px solid #fff;}





#container {max-width:640px; min-width:320px; height:2000px; margin:0 auto; background:linear-gradient(to bottom, #fff 50%,#38b9f5 75%, #fc4c4c);}

header {position:fixed; top:0; left:0; right:0; background: #fff; max-width:640px; min-width:320px;margin:0 auto;}

h1 {text-align:center; line-height: 46px; height:46px; }
h1 a {display:inline-block; width:147px; height:24px; background: url('../img/logo_kakaofriends.png') no-repeat 0 0 / 147px 24px;}
h1 a span {display:none; }

.topLeft, .topRight  {position:absolute; top:6px;}
.topLeft {left:12px;}
.topLeft > button {padding:5px;}
.topLeft .ico_friends {background-position: -520px -60px; width:24px; height:24px; } 
.topLeft .ico_dot {position:absolute; top:5px; right:3px;}


.topRight {right:12px;}
.topRight > button {padding:5px;}
.topRight .ico_search.ico_friends {background-position: -40px -20px; width:24px; height:24px; }
.topRight .ico_global.ico_friends {background-position: -440px -60px; width:24px; height:24px; }

nav {border-bottom: 1px solid #808080;}
.list_tab {display:flex;}
.list_tab li {flex:1; text-align: center; position:relative;}
.list_tab li a {display:block; line-height:43px; font-size: 16px;}
.list_tab li a.on {font-weight:700; }
.list_tab li a.on:after {position:relative; bottom:-1px; display:block; content:''; background:black; width:100%; height:4px;}
.list_tab li .ico_dot {position:absolute; top:10px; left:calc(50% + 15px);}


main {padding-top:90px;}

article {background: #fff;}
article.box {padding:20px}
.article_head {overflow: hidden; padding-bottom:15px;}
.article_head .profile {float:left; display:inline-block; width:40px; height:40px; background-image: url('../img/character/character_20220531165306_96.png'); background-size: cover; text-indent: -99999px; border-radius:15px; }
.article_head .info { padding-left:48px;}
.article_head .info strong{display:block; font-size:16px; line-height: 24px ;}
.article_head .info .txt_time{font-size:13px; color:grey}

.article_con {}
.article_con img {width:100%; border-radius:15px;}



/* 좌측 슬라이더 메뉴 부분 */

.dark{display:none; position:fixed;  background:rgba(0, 0, 0, 0.8); z-index: 100; inset:0;} /*  inset: margin이랑 설정 비슷 하지만 나자신은 줄어들면서 */


.gnb_open {position:fixed; top:0; left:-304px; width:304px; bottom:0; background:#fff; overflow: hidden; z-index: 101;}
.gnb_open .inner {width:304px; height:100%; overflow-y:scroll; padding-right:17px; box-sizing:content-box; }
.gnb_open img {width:100%;}

.info_user {padding:35px 5px 24px 23px; overflow: hidden;} 
.info_user a {line-height:24px;}
.info_user a.login {float:left; font-size:16px; font-weight: 700;} 
.info_user a.link_inquire {float:right;}
.info_user a.link_inquire .ico_arrow_right {display:inline-block; width:16px; height:16px; background-position: -320px 0; margin-top:4px; vertical-align:top; }

.link_banner {display:block; margin-left:16px; border-radius:8px; overflow:hidden;}

.list_menu {padding-top:16px;}
.list_menu > li {}
.list_menu .btn_menu {display:block; width:100%; padding:0 24px; line-height:48px; text-align:left; font-size:16px; overflow:hidden;}

.gnb_open .line {padding-bottom:16px; margin-bottom: 16px; border-bottom:1px solid #e2e0e0; }
.list_menu .ico_arrow {float:right; width:16px; height:15px; background-position:-360px 0; margin-top:16px;}
.list_menu .ico_arrow.on {background-position:-340px 0}

.box_banner {margin:30px 0 24px 16px;  border-radius:8px; overflow: hidden;}

.link_logIn {padding:20px 0 150px 0; color: grey; display:block; text-align:center; line-height: 24px;}
.link_logIn .ico_lock {display:inline-block; width:24px; height:24px; background-position: -560px -20px; vertical-align:top; margin-right: 3px;}



